src/Teams/appsettings.Development.json
src/.idea
src/Teams/bin/
src/Teams/obj/
src/.vs
src/Teams.Tests/bin
src/Teams.Tests/obj
src/bin
src/obj
src/Teams.sln.DotSettings.user
CodeTester.Tests/obj/
CodeTester/obj/
src/Lab.Quiz.BL/obj/
src/Lab.Quiz.Common/obj/
src/Lab.Quiz.DAL/obj/
src/Lab.Quiz.DAL.Tests/obj/
src/Lab.Quiz.BL.Tests/obj/