src/Teams/appsettings.Development.json
src/.idea
src/Teams/bin/
src/Teams/obj/
src/.vs
src/Teams.Tests/bin
src/Teams.Tests/obj
src/bin
src/obj
src/Teams.sln.DotSettings.user
CodeTester.Tests/obj/
CodeTester.Tests/bin/
CodeTester/obj/
CodeTester/bin/
src/Lab.Quiz.BL/obj/
src/Lab.Quiz.Common/obj/
src/Lab.Quiz.DAL/obj/
src/Lab.Quiz.DAL.Tests/obj/
src/Lab.Quiz.BL.Tests/obj/
src/Lab.Quiz.BL/bin/
src/Lab.Quiz.Common/bin/
src/Lab.Quiz.DAL/bin/
src/Lab.Quiz.DAL.Tests/bin/
src/Lab.Quiz.BL.Tests/bin/
CodeTester.Tests/bin/
CodeTester/bin/
/.vs/quiz/v16/.suo
/.vs/slnx.sqlite
/.vs/VSWorkspaceState.json
