@Model Question

<tr>
    <td>Model.Text</td>
    <th>
        <table border="1" style="width:100%">
            <tr>
                <th style="width:70%">Questions List</th>
                <th>
                    @Html.ActionLink("Create New", "Create", "OpenQuestionCreate")
                </th>
            </tr>
            @foreach (var question in ViewBag.Questions)
            {
                string questionId = question.Id.ToString();
                <tr>
                    <th>
                        <form asp-controller="Question" asp-action="Delete" method="post" style="width:15%">
                            <button type="submit" value="@questionId">Delete</button>
                        </form>
                    </th>
                    <th>
                        <form asp-controller="Question" asp-action="Create" method="post" style="width:15%">
                            <button type="submit" value="@questionId">Create</button>
                        </form>
                    </th>
                </tr>
            }
        </table>
        
    </th>

</tr>