@Model Question

<tr>
    <td>Model.Text</td>
    <th>
        <form asp-controller="Test" asp-action="Create" method="post">
            <label>New Quiz Name</label>
            <input type="text" name="quizName" placeholder="Quiz Name" />
            <input type="submit" value="Create" />
        </form>
        <form asp-controller="Test" asp-action="Create" method="post">
            <label>New Quiz Name</label>
            <input type="text" name="quizName" placeholder="Quiz Name" />
            <input type="submit" value="Create" />
        </form>
    </th>

</tr>