@model ICollection<Lab.Quiz.BL.Services.TestCardService.Models.TestQuestionModel>
@{
    var testId = Model.FirstOrDefault()?.TestId.ToString();
}

<h1>@testId</h1>
<table style="width: 100%" bor>
    <tr>
        <th style="width: 60%">Questions List</th>
        <th style="width: 20%">
            <select id="QuestionType" onchange="filterQuestions('@testId', this.value)">
                <option>Filter questions by type</option>
                <option value="SingleSelectionQuestion">Single Selection Question</option>
                <option value="MultipleAnswerQuestion">Multiple Answer Question</option>
                <option value="OpenAnswerQuestion">Open Answer Question</option>
                <option value="ProgramCodeQuestion">Program Code Question</option>
            </select>
        </th>
        <th style="width: 20%">
            <button type="submit" value="@testId" onclick="createQuestion(this.value)">Create question</button>
        </th>
    </tr>
    <tr><div id ="questionTextDiv"></div></tr>
</table>
