@{
    ViewData["Title"] = "Home Page";
}

<!DOCTYPE html>
<html>
<head>
    <meta name="viewport" content="width=device-width"/>
    <title>Quiz</title>
</head>
<style>
    table, th, td {
        border: 1px solid black;
        border-collapse: collapse;
        border-spacing: 20px;
    }
</style>
<body>
<div style="float: left; margin-right: 7%; width: 40%">
    <table border="1" style="width: 100%">
        <tr>
            <th style="width: 70%">Quiz List</th>
            <th style="width: 30%" colspan="3">
                <form asp-controller="Test" asp-action="Create" method="post">
                    <label>Create new Quiz</label>
                    <input type="text" name="quizName" placeholder="Quiz Name"/>
                    <input type="submit" value="Create"/>
                </form>
            </th>
        </tr>
        @foreach (var test in ViewBag.Tests)
        {
            <tr>
                <td>
                    @test.TestTitle
                </td>
                <td>
                    <button type="submit" value="@test.Id" id="questionEditBtn" onclick="loadQuestionsPartial(this.value)">Edit</button>
                </td>
                <td>
                    @using (Html.BeginForm("Delete", "Test", FormMethod.Post,
                        new {id = test.Id}))
                    {
                        <button type="submit" value="@test.Id">Delete</button>
                    }

                </td>
                <td>
                    @using (Html.BeginForm("Start", "Test", FormMethod.Post,
                        new {id = test.Id}))
                    {
                        <button type="submit" value="@test.Id">Start</button>
                    }
                </td>
            </tr>
        }
    </table>
</div>
<div style="float: left; width: 40%" id="questionsDiv"></div>

<script src="~/lib/jquery/dist/jquery.js"></script>
<script>
    function loadQuestionsPartial(id) {
        $.ajax({
            url: "Home/AddPartialToView",
            data: { id: id },
            type: 'GET',
            dataType: 'html',
            success: function(result) {
                alert("loaded");
                $("#questionsDiv").html(result);
            }
        });
    }

    function deleteQuestion(id) {
        alert("called");
        $.ajax({
            url: "TestQuestion/Delete",
            data: { id: id },
            type: 'GET',
            dataType: 'html',
            success: function(result) {
                $("#questionsDiv").html(result);
            }
        });
    }

    function editQuestion(id) {
        alert("called");
        $.ajax({
            url: "TestQuestion/Edit",
            data: { id: id },
            type: 'GET',
            dataType: 'html',
            success: function(result) {
                $("#questionsDiv").html(result);
            }
        });
    }

    function createQuestion(id) {
        alert("called");
        $.ajax({
            url: "TestQuestion/Create",
            data: { id: id },
            type: 'GET',
            dataType: 'html',
            success: function(result) {
                $("#questionsDiv").html(result);
            }
        });
    }

    function filterQuestions(id, questionType) {
        alert("called");
        $.ajax({
            url: "Home/Filter",
            data: { testId: id, questionType: questionType },
            type: 'GET',
            dataType: 'html',
            success: function (result) {
                $("#questionTextDiv").html(result);
            }
        });
    }
</script>
</body>

</html>