@model Teams.Models.OpenAnswerQuestionModel
@{
    ViewBag.Title = "Question details";
}
<h2>Question details</h2>
<div>
    <dl class="dl-horizontal">
        <dt>Question</dt>
        <dd>@Model.Question</dd>

        <dt>Answer</dt>
        <dd>@Model.Answer</dd>
    </dl>
</div>