@model Teams.Models.ProgramCodeQuestionViewModel

<style>
    textarea {
        resize: none;
    }
   
</style>


<input type="text" id="idQuestion" value="@Model.Id" hidden />
<input type="text" id="TestId" placeholder="Student Id" style="display:none;" />

<div class="row">

    <div class="col">

        <div class="form-group">
            <textarea placeholder="InputTest" id="InputText" class="form-control"></textarea>
        </div>

        <div class="form-group">
            <button id="btnSave" class="btn btn-success">Save Test</button>
        </div>

    </div>

    <div class="col">
        <textarea placeholder="OutputTest" id="OutputText" class="form-control"></textarea>
    </div>


    <div class="col">
        <form asp-action="SaveOrUpdteQuestion" asp-controller="ProgramTest">

            <div class="form-group">
                <textarea placeholder="Question" type="text" asp-for="Text" class="form-control"></textarea>
            </div>

            <input type="hidden" asp-for="Id" />

            <div class="form-group">
                <input type="submit" value="Change Question" class="btn btn-success" />
            </div>

        </form>
    </div>

</div>




<table id="tblResult" class="table table table-striped table-bordered">
    <thead>
        <tr>
            <th>Id</th>
            <th>InputTest</th>
            <th>OutPutTest</th>
            <th>Actions</th>
        </tr>
    </thead>
    <tbody>
    <tbody>
</table>


<form asp-action="CheckingTests" asp-controller="ProgramTest">

    <input type="hidden" asp-for="Text" />

    <input type="hidden" asp-for="Id" />

    <div class="form-group">
        <input type="submit" value="Check Tests" class="btn btn-primary" />
    </div>
</form>

<link href="https://cdn.datatables.net/1.10.23/css/jquery.dataTables.min.css" rel="stylesheet" />
<script type="text/javascript" src="~/lib/jquery/dist/jquery.min.js"></script>

@section scripts{

    <script src="https://cdn.datatables.net/1.10.23/js/jquery.dataTables.min.js"></script>

    <script type="text/javascript">

    $(document).ready(function () {
        $('#tblResult').DataTable({
        "ajax": {
        "url": '/ProgramTest/GetAllElements',
        "data": { idQuestion: $("#idQuestion").val() },
        "dataSrc": ''
        },
        columns: [
            { data: 'Id' },
            { data: 'InputTest' },
            { data: 'OutputTest' },
            {
                    data: "id", render: function (data, type, row, meta) {
                        return "<button class= 'btn btn-primary' style='margin-right:5px;' onClick='Edit(" + JSON.stringify(row) + ")'>Edit</button>" +
                        "<button class= 'btn btn-danger' onClick='Delete(" + JSON.stringify(row) + ")'>Delete</button>";

                    }
            },

        ]
        });


        $("#btnSave").click(function () {

            var progtest = {
                Id: $.trim($("#TestId").val()) == "" ? 0 : $("#TestId").val(),
                InputTest: $("#InputText").val(),
                OutputTest: $("#OutputText").val(),
                QuestionId: $("#idQuestion").val()
            }

            $.post("/ProgramTest/SaveOrUpdate", { progtest: progtest })
                .done(function (data) {
                    Reset();
                    ReloadGrid();
                });

        });
    });

    function Delete(oStudent) {
            $.ajax({
            url: "/ProgramTest/Delete/" + oStudent.Id,
            type: 'DELETE',
            success: function (result) {
                alert("Deleted");
                Reset();
                ReloadGrid();
            }
        });
    }

    function Edit(ProgramCodeitem) {
        $("#TestId").val(ProgramCodeitem.Id);
        $("#InputText").val(ProgramCodeitem.InputTest);
        $("#OutputText").val(ProgramCodeitem.OutputTest);
    }

    function Reset() {
        $("#TestId").val(0);
        $("#InputText").val("");
        $("#OutputText").val("");
    }

    function ReloadGrid() {
        $("#tblResult").DataTable().clear();
        $("#tblResult").DataTable().ajax.reload();
     }
    </script>
}